body{
  background-color:#E0E5EC;
  color:rgb(80,80,80);

  --shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
  --shadowInset: 9px 9px 16px rgb(163,177,198,0.6) inset, -9px -9px 16px  rgba(255,255,255, 0.5) inset;
  --margin: 20px;
}
*{
  box-sizing: border-box;
}
header{
  display:flex;
  justify-content: space-between;
  box-shadow: var(--shadow);  
  padding:var(--margin);
}
main{
  margin:var(--margin);
}
input[type=text]{
  width:100%;
  border:0;
  box-shadow: var(--shadowInset);
  padding:10px;
  background:transparent;
  color:rgb(80,80,80);
  font-size:20px;
}
input[type=text]:focus{
  outline:none;
}
button{
  width:100%;
  padding:10px;
  font-size:20px;
  border:0;
  background:transparent;
  box-shadow: var(--shadow);
}
.login-screen{
  display:flex;
  min-height:100vh;
  align-items: center;
  flex-direction: column;
}
.ticker{
  width:150px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  box-shadow: var(--shadow);
  padding:5px;
  border-radius: 100px;
  overflow:hidden;
}
.ticker-count{
  min-width:35px;
  text-align:center;
  font-size:25px;
}
.button-circle{
  display:flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size:22px;
  height:40px;
  width:40px;
  border-radius: 1000px;
  box-shadow: var(--shadow);
}
.button-circle:active{
  box-shadow: var(--shadowInset);
}
.ticker-row{
  display:flex;
  margin:var(--margin) 0;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  padding:var(--margin)
}
.ticker-text{
  font-size:35px;
}

.count--bounce {
  animation: count-keyframes--bounce 0.8s ease-out
}
@keyframes count-keyframes--bounce {
  0%,
  to {
    transform: rotate(0)
  }
  10% {
    transform: scale(1.2)
  }
  20% {
    transform: scale(1.15) rotate(4deg) translateY(-6px)
  }
  40% {
    transform: scale(1.1) rotate(2deg) translateY(0)
  }
  60% {
    transform: rotate(-2deg) translateY(-3px)
  }
  80% {
    transform: rotate(-1deg) translateY(0)
  }
}